<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operacion Chelas - Actualizar Vendedor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <h1>Actualizar Datos del Vendedor</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Correo" name="correo" value="{{
                    request.form.correo
                    }}">
            <input type="text" placeholder="Nuevo correo" name="cor" value="{{
                    request.form.cor
                    }}">
            <input type="password" placeholder="Nueva contraseña" name="contra" value="{{
                    request.form.contra
                    }}">
            <input type="text" placeholder="Nueva edad" name="edad" value="{{
                    request.form.edad
                    }}">
            <input class="btn btn-default" type="submit" value="Actualizar">
        </form>
        {%  with  messeges = get_flashed_messages() %}
            {% if messeges %}
                <ul class=flashes>
                    {% for messege in messeges %}
                        <li>{{ messege }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <header>
        {% block header %}{% endblock %}
    </header>
</body>
</html>