<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>
<body>
    <nav>
        <h1>Operacion Chelas</h1>
        <ul>
            {% if session.get('correo') != None %}
            <li>Bienvenid@ <span>{{ session.get('nombre') }}</span></li>
            <li><a href="{{ url_for('consultar_cliente.consultar_cliente') }}">Consultar datos de tu cuenta</a></li>
            <li><a href="{{ url_for('actualizar_cliente.actualizar_cliente') }}">Actualizar datos de tu cuenta</a></li>
            <li><a href="{{ url_for('dar_de_baja_cliente.dar_de_baja_cliente') }}">Dar de baja tu cuenta</a></li>
            <li><a href="{{ url_for('logout.logout') }}">Log out</a> </li>
            {% endif %}
        </ul>
    </nav>
<section class="content">
    <header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </header>
</section>
</body>
</html>