<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operacion Chelas - Reportes de venta - Pedidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Consultar reporte de ventas - Producto(s)</h1>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>ID del producto</th>
                <th>Nombre del pructo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos %}
                <tr>
                    <td>{{ p.id_producto }}</td>
                    <td>{{ p.nombre_producto }}</td>
                    <td>{{ p.precio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <header>
        {% block header %}{% endblock %}
    </header>
</body>
</html>